{% extends 'adminhome.html' %}
|{% load static %}

{% block admin %}

<div style="padding: 5px;" class="col-12">
	<div style="background-color: rgb(243, 251, 255);" class=" rounded h-100 p-2">
		<h1 style="color: rgb(0, 0, 255); text-align: center;"> VIEW COMPLAINTS </h1>

	</div>
</div>

<div style="padding: 5px;" class="row-6">
    <div   class="bg-light rounded h-100 p-4">
     
{% for i in msg %}
        <div style="height: 90px;" class="alert alert-primary alert-dismissible fade show" role="alert">
            <h6 class="mb-4"> <td>{{i.cust_id.email}}</td></h6>
            <i class="fa fa-exclamation-circle me-2"></i><td> {{i.discription }}</td>
            
               <td><a href="{% url 'delcomplaints' i.id %}"><button  class="btn-close"  aria-label="Close" ></button></a> </td>  

            
        </div>
      {% endfor %}
        

    </div>
</div>



         
          
{% endblock %}
