{% extends 'adminhome.html' %}
|{% load static %}

{% block admin %}
<div style="padding: 5px;" class="col-12">
	<div style="background-color: rgb(233, 244, 253);" class=" rounded h-100 p-2">
		<h1 style="color: rgb(15, 35, 223); text-align: center;"> UPDATE PRODUCTS </h1>

	</div>
</div>

<div style="margin: 5px; ;" class="col-sm-12 col-xl-6">
	<div style="background-image: url('{% static 'img/img.jpg' %}');"  class="bg-light rounded h-100 p-4">
		<h6 style="color: rgb(255, 187, 0);" class="mb-4">Products Input</h6>
		{% for i in run %}

		<form action="{% url 'update' i.id %}" method="post" enctype="multipart/form-data">
           

			{% csrf_token %}
			<label for="categories" class="form-label">Select Category</label>
                        <select name="category" id="" class="form-control">
                            <option value="">Select categories</option>
                
                            
                                    {% if selected_category %}
                                    <option value="{{selected_category.id}}" selected>{{selected_category.cat_name}}</option>
                                        {% for j in category_details  %}
                                            {% if j.cat_name != selected_category.cat_name %}
                                                <option value="{{j.id}}">{{j.cat_name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            
                        
                        </select>
			<div class="mb-3">
				<label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Image</label>
				<input class="form-control" type="file" name="Product_Image" value="{{i.product_image.url}}" id="formFileMultiple" multiple>
			</div>	
			<div class="mb-3">
                <label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Product Name</label>
				<div class="form-group">
					<input class="input" type="text" name="product_name" value="{{ i.product_name }}" placeholder="Product Name">
				</div>
			</div>	
            <div class="mb-3">
                <label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Brand Name</label>
				<div class="form-group">
					<input class="input" type="text" name="Brand_Name" value="{{ i.brand_name }}" placeholder="Brand Name">
				</div>
			</div>	
		

            <div class="mb-3">
                <label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Product Price</label>
				<div class="form-group">
					<input class="input" type="text" name="Product_Price" value="{{ i.product_price }}" placeholder="Product Price">
				</div>
			</div>	
            <div class="mb-3">
                <label for="Discount Details" style="color: antiquewhite;" class="form-label">Discount Details</label>
				<div class="form-group">
					<input class="input" type="text" name="Discount_Details" value="{{ i.product_disc }}" placeholder="Discount Details">
				</div>
			</div>
			<div class="mb-3">
                <label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Product Warranty</label>
				<div class="form-group">
					<input class="input" type="text" name="Product_Warranty" value="{{ i.product_warranty }}" placeholder="Product Warranty">
				</div>
			</div>	
			<div class="mb-3">
                <label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Delivery Status</label>
				<div class="form-group">
					<input class="input" type="text" name="Delivery Details" value="{{ i.product_delivery }}" placeholder="Delivery Status">
				</div>
			</div>	
			
			<div class="mb-3">
                <label for="formFileMultiple" style="color: antiquewhite;" class="form-label">Product Rating</label>
				<div class="form-group">
					<input class="input" type="text" name="Product_rate" value="{{ i.product_rate }}" placeholder="Product Rate">
				</div>
			</div>	
			<input class="btn-primary" style="color: aliceblue;" type="submit" id="update">

		</form>
        {% endfor  %}
		
	</div>
</div>

{% endblock %}